/* CustomerReview.css */

.client__card {
  text-align: center;
}

.review-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.reviewandvisitbox {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px; /* Adjust spacing between image and text */
}

.review-by-text,
.visit-date-text {
  margin: 0.7px;
}

.client__card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.review-text {
  font-size: 1.3rem;
  color: rgba(128, 128, 128, 0.844);
}
