.profile-container {
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
}

.banner {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: visible;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1;
}

.banner-image {
  width: 100%;
  height: auto;
}

.profile {
  position: absolute;
  bottom: -5px;
  left: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.restaurant_name {
  background-color: rgb(181, 181, 181);
  padding: 10px 20px;
  border: 5px solid rgba(138, 135, 135, 0.483);
  border-radius: 10px;
  text-align: center;
  margin-right: 20px; /* Add margin to separate from buttons */
}

.editing-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Space between buttons */
}

.edit-profile-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: rgba(222, 219, 219, 0.854);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-profile-button:hover {
  background-color: rgb(181, 181, 181);
}

.quote {
  font-size: 16px;
  border-left: 7px solid rgba(222, 219, 219, 0.854);
  padding-left: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 100px;
  font-style: italic;
}

.share-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 50px 25px 50px;
}

.share-icons Button {
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}